VITE_APP_NAME=Akademia
VITE_DOMAIN_REDIRECT=1
VITE_APP_ALLOW_REGISTRATION=false
VITE_APP_FAVICON=https://academia-user-serverless-deployment.s3.amazonaws.com/files/static/images/favicon.png
VITE_APP_LOGO=https://academia-user-serverless-deployment.s3.amazonaws.com/files/static/images/akademia-by-kamila.png

#Colors
VITE_COLOR_PRIMARY=#f43f5e
VITE_COLOR_PRIMARY_RGB="244, 63, 94"
VITE_COLOR_SECONDARY=#be123c
VITE_COLOR_SECONDARY_RGB="190, 18, 60"

VITE_LTI_SERVICE=http://localhost:3000
VITE_LTI_PROVIDER_SERVICE=https://5a8b-179-32-200-113.ngrok.io

VITE_USERS_SERVICE=https://akademia-university-api-test.kamilainnovation.co/users
VITE_V2_SERVICE=https://akademia-university-api-test.kamilainnovation.co/v2
VITE_CASURID_SERVICE=https://akademia-university-api-test.kamilainnovation.co/casurid
VITE_ACADEMIC_SERVICE=https://akademia-university-api-test.kamilainnovation.co/academic
VITE_SURVEYS_SERVICE=https://akademia-university-api-test.kamilainnovation.co/surveys
VITE_REPORTS_SERVICE=https://akademia-university-api-test.kamilainnovation.co/reports
VITE_CLASSROOM_SERVICE=https://akademia-university-api-test.kamilainnovation.co/classroom
VITE_PAYMENTS_SERVICE=https://akademia-university-api-test.kamilainnovation.co/payments
VITE_COMMUNICATIONS_SERVICE=https://akademia-university-api-test.kamilainnovation.co/communications
VITE_COLLECTIONS_SERVICE=https://akademia-university-api-test.kamilainnovation.co/collections
VITE_ORGANIZATIONAL_SERVICE=https://akademia-university-api-test.kamilainnovation.co/organizational
VITE_ADMIN_SERVICE=https://akademia-university-api-test.kamilainnovation.co/super-admin
VITE_BUDGET_SERVICE=https://akademia-university-api-test.kamilainnovation.co/budget
VITE_CONFIGURATIONS_SERVICE=https://akademia-university-api-test.kamilainnovation.co/configurations
VITE_CORPORATE_SERVICE=https://akademia-university-api-test.kamilainnovation.co/corporate
VITE_LMS_SERVICE=https://akademia-university-api-test.kamilainnovation.co/lms
VITE_DASHBOARD_SERVICE=https://akademia-university-api-test.kamilainnovation.co/dashboard
VITE_CERTIFICATES_SERVICE=https://akademia-university-api-test.kamilainnovation.co/certificates
VITE_FILES_SERVICE=https://akademia-university-api-test.kamilainnovation.co/files
VITE_STRUCTURE_SERVICE=https://akademia-university-api-test.kamilainnovation.co/structure
VITE_SAML_SERVICE=https://akademia-university-api-test.kamilainnovation.co/saml
VITE_GRADUATES_SERVICE=https://akademia-university-api-test.kamilainnovation.co/graduates
VITE_PROGRAMS_SERVICE=https://akademia-university-api-test.kamilainnovation.co/programs
VITE_FORMS_SERVICE=https://akademia-university-api-test.kamilainnovation.co/forms
VITE_SMART_CLASSROOM_SERVICE=https://smart-classroom-backend-dev.kamilainnovation.co/api
VITE_SMART_CLASSROOM_SERVICE=https://smart-classroom-backend-dev.kamilainnovation.co/api
