{
  "extends": [
    "plugin:vue/vue3-essential",
    "eslint:recommended",
    "@vue/eslint-config-typescript",
    "@vue/eslint-config-prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "rules": {
    "import/prefer-default-export": 0,
    "class-methods-use-this": 0,
    "import/no-extraneous-dependencies": 0,
    "no-param-reassign": 0,
    "no-throw-literal": 0,
    "@typescript-eslint/no-throw-literal": 0,
    "no-restricted-syntax": 0,
    "max-len": [1, { "code": 100000 }],
    "no-constructor-return": "off",
    "prettier/prettier": [
      "warn",
      {
        "endOfLine": "auto",
        "printWidth": 200
      }
    ]
  }
}
